<header class="header">
  <div class="container">
    <div class="header__wrap">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header-nav__link">
            <a href="#">HOME</a>
          </li>
          <li class="header-nav__link ml-auto">
            <a routerLink="/admin">ADMIN PANEL</a>
          </li>
          <li class="header-nav__link ml-auto">
            <p-button (onClick)="swapToAdmin()">ADMIN MODE</p-button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
