* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: black;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .header__list {
    list-style-type: none; 
    display: flex; 
  }
  
  .header-nav__link {
    margin-right: 20px; 
  }
  
  .header-nav__link a {
    text-decoration: none;
    color: white; 
    padding: 10px 20px; 
    display: inline-block; 
  }
  
  .header-nav__link a:hover {
    background-color: gray; 
  }
  